<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{320,104}}</string>
                <key>offset</key>
                <string>{0,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,376},{320,104}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,320},{320,142}}</string>
                <key>offset</key>
                <string>{0,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,338},{320,142}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{320,192}}</string>
                <key>offset</key>
                <string>{0,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,255},{320,192}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{320,166}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{320,166}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{320,138}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,141},{320,138}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{320,110}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{320,110}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,206}}</string>
                <key>offset</key>
                <string>{0,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,206}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,640},{320,102}}</string>
                <key>offset</key>
                <string>{0,189}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,102}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6e3b6828b1b4db13d6aafde10ce4356$</string>
            <key>textureFileName</key>
            <string>duckLevel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
