<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pBlink3.png</string>
	<string>pSmile1.png</string>
	<string>pSmile2.png</string>
	<string>pSmile3.png</string>
</array>
</plist>
