<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bat</key>
	<array>
		<string>3</string>
		<string>1</string>
		<string>3</string>
		<string>2</string>
		<string>5</string>
		<string>3</string>
		<string>1</string>
		<string>5</string>
		<string>7</string>
		<string>5</string>
		<string>6</string>
		<string>2</string>
		<string>1</string>
		<string>2</string>
		<string>4</string>
		<string>3</string>
		<string>1</string>
		<string>7</string>
		<string>1</string>
		<string>6</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>6</string>
		<string>4</string>
		<string>2</string>
		<string>4</string>
		<string>3</string>
		<string>6</string>
		<string>4</string>
		<string>6</string>
		<string>1</string>
		<string>6</string>
		<string>1</string>
		<string>3</string>
		<string>2</string>
		<string>3</string>
		<string>5</string>
		<string>4</string>
		<string>2</string>
		<string>1</string>
		<string>2</string>
		<string>7</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>7</string>
		<string>2</string>
		<string>7</string>
		<string>2</string>
		<string>1</string>
		<string>4</string>
		<string>2</string>
		<string>7</string>
		<string>4</string>
		<string>6</string>
		<string>4</string>
		<string>5</string>
		<string>1</string>
		<string>7</string> 
		<string>3</string>
		<string>1</string>
		<string>3</string>
		<string>2</string>
		<string>5</string>
		<string>3</string>
		<string>1</string>
		<string>5</string>
		<string>7</string>
		<string>1</string>
		<string>3</string>
		<string>2</string>
		<string>7</string>
		<string>6</string>
		<string>7</string>
		<string>5</string>
		<string>7</string>
		<string>1</string>
		<string>2</string>
		<string>5</string>
	</array>
	<key>duck</key>
	<array>
		<string>4</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>4</string>
		<string>5</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>2</string>
		<string>99</string>
		<string>4</string>
		<string>7</string>
		<string>6</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>9</string>
		<string>6</string>
		<string>1</string>
		<string>5</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>99</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>4</string>
		<string>99</string>
		<string>5</string>
		<string>4</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>1</string>
		<string>99</string>
		<string>6</string>
		<string>7</string>
		<string>5</string>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>5</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>3</string>
		<string>5</string>
		<string>6</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>5</string>
		<string>6</string>
		<string>3</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>7</string>
		<string>4</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>7</string>
		<string>2</string>
		<string>6</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>7</string>
		<string>3</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>5</string>
		<string>99</string>
		<string>6</string>
		<string>5</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>5</string>
		<string>2</string>
		<string>99</string>
		<string>7</string>
		<string>1</string>
		<string>3</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>2</string>
		<string>7</string>
		<string>1</string>
		<string>3</string>
		<string>4</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>5</string>
		<string>2</string>
		<string>7</string>
		<string>1</string>
		<string>99</string>
		<string>5</string>
		<string>7</string>
		<string>4</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>4</string>
		<string>7</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>7</string>
		<string>3</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>3</string>
		<string>7</string>
		<string>99</string>
		<string>5</string>
		<string>6</string> 
		<string>4</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>4</string>
		<string>5</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>2</string>
		<string>99</string>
		<string>4</string>
		<string>7</string>
		<string>6</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>9</string>
		<string>6</string>
		<string>1</string>
		<string>5</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>99</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>4</string>
		<string>99</string>
		<string>5</string>
		<string>4</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>1</string>
		<string>99</string>
		<string>6</string>
		<string>7</string>
		<string>5</string>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>5</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>3</string>
		<string>5</string>
		<string>6</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>5</string>
		<string>6</string>
		<string>3</string>
	</array>
	<key>gator</key>
	<array>
		<string>7</string>
		<string>4</string>
		<string>1</string>
		<string>6</string>
		<string>4</string>
		<string>7</string>
		<string>3</string>
		<string>1</string>
		<string>7</string>
		<string>4</string>
		<string>3</string>
		<string>1</string>
		<string>3</string>
		<string>6</string>
		<string>4</string>
		<string>2</string>
		<string>7</string>
		<string>3</string>
		<string>3</string>
		<string>1</string>
		<string>5</string>
		<string>2</string>
		<string>7</string>
		<string>5</string>
		<string>1</string>
		<string>4</string>
		<string>2</string>
		<string>1</string>
		<string>5</string>
		<string>4</string>
		<string>2</string>
		<string>4</string>
		<string>7</string>
		<string>5</string>
		<string>3</string>
		<string>1</string>
		<string>4</string>
		<string>4</string>
		<string>6</string>
		<string>3</string>
		<string>7</string>
		<string>5</string>
		<string>3</string>
		<string>6</string>
		<string>2</string>
		<string>7</string>
		<string>6</string>
		<string>3</string>
		<string>2</string>
		<string>7</string>
		<string>2</string>
		<string>5</string>
		<string>3</string>
		<string>1</string>
		<string>6</string>
		<string>2</string>
		<string>2</string>
	</array>
	<key>mongoose</key>
	<array>
		<string>6</string>
		<string>1</string>
		<string>2</string>
		<string>6</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>3</string>
		<string>4</string>
		<string>1</string>
		<string>3</string>
		<string>1</string>
		<string>5</string>
		<string>4</string>
		<string>2</string>
		<string>6</string>
		<string>1</string>
		<string>3</string>
		<string>5</string>
		<string>3</string>
		<string>5</string>
		<string>5</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>6</string>
		<string>1</string>
		<string>4</string>
		<string>5</string>
		<string>1</string>
		<string>3</string>
		<string>2</string>
		<string>4</string>
		<string>4</string>
		<string>6</string>
		<string>5</string>
		<string>3</string>
		<string>2</string>
		<string>3</string>
		<string>3</string>
		<string>6</string>
		<string>1</string>
		<string>2</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>4</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>6</string>
		<string>5</string>
	</array>
	<key>ostrich</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>99</string>
		<string>3</string>
		<string>5</string>
		<string>6</string>
		<string>4</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>1</string>
		<string>99</string>
		<string>1</string>
		<string>2</string>
		<string>99</string>
		<string>2</string>
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>6</string>
		<string>99</string>
		<string>6</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>5</string>
		<string>4</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>2</string>
		<string>99</string>
		<string>1</string>
		<string>4</string>
		<string>3</string>
		<string>99</string>
		<string>5</string>
		<string>4</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>5</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>6</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>99</string>
		<string>5</string>
		<string>3</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>2</string>
		<string>1</string>
		<string>3</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>2</string>
		<string>5</string>
		<string>4</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>3</string>
		<string>6</string>
		<string>5</string>
		<string>99</string>
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>4</string>
		<string>1</string>
		<string>6</string>
		<string>3</string>
		<string>5</string>
		<string>99</string>
		<string>1</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>3</string>
		<string>1</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>1</string>
		<string>6</string>
		<string>2</string>
		<string>99</string>
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>99</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>5</string>
		<string>6</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>4</string>
		<string>6</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>4</string>
		<string>99</string>
		<string>2</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>99</string>
		<string>2</string>  
		<string>1</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>99</string>
		<string>3</string>
		<string>5</string>
		<string>6</string>
		<string>4</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>1</string>
		<string>99</string>
		<string>1</string>
		<string>2</string>
		<string>99</string>
		<string>2</string>
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>6</string>
		<string>99</string>
		<string>6</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>5</string>
		<string>4</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>2</string>
		<string>99</string>
		<string>1</string>
		<string>4</string>
		<string>3</string>
		<string>99</string>
		<string>5</string>
		<string>4</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>5</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>6</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>99</string>
		<string>5</string>
		<string>3</string>
		<string>2</string>
		<string>99</string>
	</array>
	<key>penguin</key>
	<array>
		<string>5</string>
		<string>7</string>
		<string>8</string>
		<string>1</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>7</string>
		<string>8</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>8</string>
		<string>6</string>
		<string>3</string>
		<string>99</string>
		<string>7</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>5</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>               
		<string>99</string>
		<string>1</string>
		<string>2</string>
		<string>6</string>
		<string>8</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>6</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>8</string>
		<string>5</string>
		<string>3</string>
		<string>6</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>4</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>3</string>
		<string>6</string>
		<string>7</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>7</string>
		<string>5</string>
		<string>2</string>
		<string>99</string>
		<string>6</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>        
		<string>2</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>7</string>
		<string>99</string>
		<string>3</string>
		<string>6</string>
		<string>8</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>6</string>
		<string>8</string>
		<string>7</string>
		<string>4</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>1</string>
		<string>8</string>
		<string>7</string>
		<string>5</string>
		<string>2</string>            
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>6</string>
		<string>3</string>
		<string>5</string>
		<string>8</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>6</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>1</string>
		<string>8</string>
		<string>6</string>
		<string>2</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>4</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>6</string>
		<string>99</string>
		<string>2</string>
		<string>5</string>
		<string>7</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>7</string>
		<string>6</string>
		<string>3</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>8</string>
		<string>7</string>
		<string>6</string>
		<string>4</string>  
		<string>5</string>
		<string>7</string>
		<string>8</string>
		<string>1</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>02</string>
		<string>4</string>
		<string>7</string>
		<string>8</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>8</string>
		<string>6</string>
		<string>3</string>
		<string>99</string>
		<string>7</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>5</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>               
		<string>99</string>
		<string>1</string>
		<string>2</string>
		<string>6</string>
		<string>8</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>6</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>
		<string>8</string>
	</array>
	<key>polarbear</key>
	<array>
		<string>7</string>
		<string>8</string>
		<string>1</string>
		<string>3</string>
		<string>1</string>
		<string>5</string>
		<string>2</string>
		<string>5</string>
		<string>1</string>
		<string>1</string>
		<string>6</string>
		<string>8</string>
		<string>5</string>
		<string>8</string>
		<string>7</string>
		<string>7</string>
		<string>4</string>
		<string>6</string>
		<string>4</string>
		<string>6</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>2</string>
		<string>8</string>
		<string>4</string>
		<string>1</string>
		<string>4</string>
		<string>8</string>
		<string>8</string>
		<string>1</string>
		<string>1</string>
		<string>5</string>
		<string>2</string>
		<string>5</string>
		<string>1</string>
		<string>3</string>
		<string>1</string>
		<string>8</string>
		<string>7</string>
		<string>6</string>
		<string>4</string>
		<string>6</string>
		<string>4</string>
		<string>7</string>
		<string>7</string>
		<string>8</string>
		<string>5</string>
		<string>8</string>
		<string>6</string>
		<string>8</string>
		<string>8</string>
		<string>4</string>
		<string>1</string>
		<string>4</string>
		<string>8</string>
		<string>2</string>
		<string>8</string>
		<string>7</string>
		<string>6</string>
	</array>
	<key>raven</key>
	<array>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>3</string>
		<string>6</string>
		<string>7</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>1</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>1</string>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>5</string>
		<string>4</string>
		<string>7</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>7</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>7</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>7</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>2</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>99</string>
		<string>4</string>
		<string>1</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>99</string>
		<string>6</string>
		<string>2</string>
		<string>1</string>
		<string>99</string>
		<string>7</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>6</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>6</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>2</string>
		<string>5</string>
		<string>6</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>2</string>
		<string>3</string>
		<string>7</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>7</string>
		<string>99</string>
		<string>2</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>7</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>6</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>7</string>
		<string>99</string>
		<string>99</string>
		<string>6</string>
		<string>4</string>  
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>99</string>
		<string>3</string>
		<string>6</string>
		<string>7</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>1</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>1</string>
		<string>7</string>
		<string>99</string>
		<string>6</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>5</string>
		<string>4</string>
		<string>7</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>7</string>
		<string>5</string>
		<string>1</string>
		<string>99</string>
		<string>7</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>6</string>
		<string>99</string>
		<string>4</string>
		<string>7</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>2</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
	</array>
	<key>snake</key>
	<array>
		<string>2</string>
		<string>2</string>
		<string>1</string>
		<string>5</string>
		<string>3</string>
		<string>5</string>
		<string>6</string>
		<string>4</string>
		<string>3</string>
		<string>5</string>
		<string>6</string>
		<string>4</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>5</string>
		<string>3</string>
		<string>3</string>
		<string>2</string>
		<string>6</string>
		<string>4</string>
		<string>6</string>
		<string>1</string>
		<string>2</string>
		<string>5</string>
		<string>4</string>
		<string>6</string>
		<string>1</string>
		<string>5</string>
		<string>4</string>
		<string>2</string>
		<string>3</string>
		<string>6</string>
		<string>5</string>
		<string>2</string>
		<string>1</string>
		<string>3</string>
		<string>4</string>
		<string>6</string>
		<string>3</string>
		<string>5</string>
		<string>4</string>
		<string>1</string>
		<string>6</string>
		<string>5</string>
		<string>3</string>
		<string>5</string>
		<string>1</string>
		<string>2</string>
		<string>2</string>
		<string>3</string>
		<string>1</string>
	</array>
	<key>vulture</key>
	<array>
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>6</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>6</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>4</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>1</string>
		<string>3</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>3</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>4</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>1</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>5</string>
		<string>6</string>
		<string>1</string>
		<string>5</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>2</string>
		<string>4</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>2</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>2</string>
		<string>4</string>
		<string>6</string>
		<string>99</string>
		<string>5</string>
		<string>4</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>4</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>2</string>
		<string>1</string>
		<string>3</string>
		<string>2</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>99</string>
		<string>6</string>
		<string>3</string>
		<string>4</string>
		<string>99</string>
		<string>5</string>
		<string>3</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>4</string>
		<string>3</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>1</string>
		<string>4</string>
		<string>99</string>
		<string>5</string>
		<string>4</string>
		<string>6</string>
		<string>5</string>
		<string>4</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>5</string>
		<string>6</string>
		<string>4</string>
		<string>3</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>99</string>   
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>5</string>
		<string>3</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>3</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>6</string>
		<string>5</string>
		<string>99</string>
		<string>99</string>
		<string>6</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>4</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>1</string>
		<string>3</string>
		<string>4</string>
		<string>99</string>
		<string>3</string>
		<string>4</string>
		<string>1</string>
		<string>99</string>
		<string>3</string>
		<string>2</string>
		<string>1</string>
		<string>99</string>
		<string>99</string>
		<string>3</string>
		<string>1</string>
		<string>3</string>
		<string>5</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>2</string>
		<string>99</string>
		<string>3</string>
		<string>99</string>
		<string>1</string>
		<string>3</string>
		<string>99</string>
		<string>2</string>
		<string>3</string>
		<string>1</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>2</string>
		<string>4</string>
		<string>99</string>
		<string>99</string>
		<string>4</string>
		<string>3</string>
		<string>4</string>
		<string>99</string>
		<string>4</string>
		<string>5</string>
		<string>1</string>
		<string>6</string>
		<string>99</string>
		<string>99</string>
		<string>1</string>
		<string>5</string>
		<string>6</string>
		<string>1</string>
		<string>5</string>
		<string>6</string>
	</array>
</dict>
</plist>
