<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2031},{48,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,16}</string>
            </dict>
            <key>ClearedLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,320},{320,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,242}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>Credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1920},{298,104}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,121},{298,104}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>EggL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1310},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1176},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1042},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,992},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,980},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,858},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,838},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL16.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,830},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL17.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,830},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL18.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,830},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,908},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,774},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,738},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,724},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL22.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,696},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL23.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,696},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL24.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,696},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,640},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,590},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL4.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,562},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL5.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,562},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL6.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,562},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,506},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,372},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggL9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,456},{242,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{242,134}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>EggLives.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>FailedLives.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,320},{320,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,242}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>FailedScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,320},{320,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,242}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>MenuBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>MenuD.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,346},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>MenuEggBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,0},{300,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,39},{300,162}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>MenuEggTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,320},{252,136}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,52},{252,136}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>MenuO.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,276},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>MenuP.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,206},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>MenuR.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,136},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>MenuV.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,416},{71,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>NewLevelScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1920},{111,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,82}}</string>
                <key>sourceSize</key>
                <string>{111,82}</string>
            </dict>
            <key>Round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,700},{142,138}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{142,138}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Round2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,600},{142,138}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{142,138}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Round3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,460},{142,140}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{142,140}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Round4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,562},{142,138}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{142,138}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Round5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,320},{142,140}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{142,140}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>dInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>miniGearEggBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,47},{83,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,46}}</string>
                <key>sourceSize</key>
                <string>{83,46}</string>
            </dict>
            <key>miniHelpEggBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,93},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>miniMenuBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,48},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
            <key>miniMenuEggBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{85,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>miniPlayBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1920},{107,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,59}}</string>
                <key>sourceSize</key>
                <string>{107,59}</string>
            </dict>
            <key>miniReadyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,300},{148,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{148,72}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>oInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>pInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>rInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>vInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>vInfoSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:849bf1f4a9c5abe6731f681c57b6ca76$</string>
            <key>textureFileName</key>
            <string>menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
