<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pbBite1.png</string>
	<string>pbBlink3.png</string>
	<string>pbBlink2.png</string>
	<string>pbBlink1.png</string>
</array>
</plist>
