<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>mBite1.png</string>
	<string>mBlink3.png</string>
	<string>mBlink2.png</string>
	<string>mBlink1.png</string>
</array>
</plist>
