<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{330,68}}</string>
                <key>offset</key>
                <string>{0,-206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,412},{330,68}}</string>
                <key>sourceSize</key>
                <string>{330,480}</string>
            </dict>
            <key>pl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{330,96}}</string>
                <key>offset</key>
                <string>{0,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,354},{330,96}}</string>
                <key>sourceSize</key>
                <string>{330,480}</string>
            </dict>
            <key>pl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{330,92}}</string>
                <key>offset</key>
                <string>{0,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,292},{330,92}}</string>
                <key>sourceSize</key>
                <string>{330,480}</string>
            </dict>
            <key>pl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{330,58}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,251},{330,58}}</string>
                <key>sourceSize</key>
                <string>{330,480}</string>
            </dict>
            <key>pl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{330,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,203},{330,70}}</string>
                <key>sourceSize</key>
                <string>{330,480}</string>
            </dict>
            <key>pl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{330,40}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,178},{330,40}}</string>
                <key>sourceSize</key>
                <string>{330,480}</string>
            </dict>
            <key>pl7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{330,46}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{330,46}}</string>
                <key>sourceSize</key>
                <string>{330,480}</string>
            </dict>
            <key>pl8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{330,32}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{330,32}}</string>
                <key>sourceSize</key>
                <string>{330,480}</string>
            </dict>
            <key>pl9.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{320,130}}</string>
                <key>offset</key>
                <string>{0,175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,130}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe2dc277ab86a27137f3dec01dbbb142$</string>
            <key>textureFileName</key>
            <string>penguinLevel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
