<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dBlink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1424},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>dBlink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,954},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>dBlink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1428},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>dFeather.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,778},{152,272}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,12},{152,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dSmile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1068},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>dSmile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1428},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>dSmile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1068},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>dTongue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1428},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>dTongue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1068},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>dTongue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1428},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>duck_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1068},{114,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oBlink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1068},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oBlink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1424},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oBlink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1068},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oFeather.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,664},{152,272}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,12},{152,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>oSmile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1068},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oSmile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,778},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oSmile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,778},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oTongue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,778},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oTongue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1788},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>oTongue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,816},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>ogSmile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,712},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>ogSmile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,356},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>ogSmile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1800},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>ostrich_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,0},{176,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,356}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>pBlink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>pBlink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,0},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>pBlink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>pFeather.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2014},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>pSmile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>pSmile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1800},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>pSmile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>pTongue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1080},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>pTongue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>pTongue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>penguin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{214,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rBlink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,382},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rBlink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,382},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rBlink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,382},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rFeather.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,512},{152,272}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,12},{152,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>rSmile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,214},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rSmile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,214},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rSmile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,214},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rTongue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1440},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rTongue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1080},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>rTongue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,720},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>raven_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,360},{168,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,360}}</string>
                <key>sourceSize</key>
                <string>{252,360}</string>
            </dict>
            <key>vBlink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,214},{146,360}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{146,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vBlink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{146,360}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{146,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vBlink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1428},{114,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vFeather.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,360},{152,272}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,12},{152,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>vSmile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1068},{114,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vSmile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,664},{114,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vSmile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,664},{114,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vTongue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,664},{114,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vTongue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,550},{114,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vTongue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,550},{114,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
            <key>vulture_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,550},{114,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{114,360}}</string>
                <key>sourceSize</key>
                <string>{178,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:484a5417c2c2a3a72f5edcdad049f6cc$</string>
            <key>textureFileName</key>
            <string>positiveBirds.pvr.ccz</string>
        </dict>
    </dict>
</plist>
