<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,640},{320,82}}</string>
                <key>offset</key>
                <string>{0,-199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,398},{320,82}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>rl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{320,170}}</string>
                <key>offset</key>
                <string>{0,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,170}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>rl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{320,186}}</string>
                <key>offset</key>
                <string>{0,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,286},{320,186}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>rl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,230}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{320,230}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>rl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{320,198}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{320,198}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>rl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{320,212}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{320,212}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>rl7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,722},{320,68}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,151},{320,68}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>rl8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,320},{320,176}}</string>
                <key>offset</key>
                <string>{0,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,176}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b1b5ebe44f1c144d9f8fc71c5577295$</string>
            <key>textureFileName</key>
            <string>ravenLevel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
